<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Donor List</h1>
        <ul>
            <% people.forEach(person => { %>
                <li>
                    <span><%= person.name %></span>
                    <div>
                        <a href="/view-person/<%= person.id %>">View</a>
			<% if (session.user && session.user.role === 'admin') { %>
                        <a href="/edit-person/<%= person.id %>">Edit</a>
                        <a href="/delete-person/<%= person.id %>">Delete</a>
			 <% } %>
                    </div>
                </li>
            <% }); %>
        </ul>
        <div class="pagination">
            <% for(let i = 1; i <= totalPages; i++) { %>
                <a href="?page=<%= i %>" class="<%= currentPage === i ? 'active' : '' %>"><%= i %></a>
            <% } %>
        </div>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
i
